<main id="">

<div id="pubs">
<h2 id="pubs">Publikationen<h2>

<h3>Monographie</h3>
<ul>
<li>Pfurtscheller, Daniel (2017): Visuelle Zeitschriftengestaltung. Nachrichtenmagazine als multimodale Kommunikationsformen. Innsbruck: innsbruck university press (IUP) (= Innsbrucker Beiträge zur Kulturwissenschaft, 86). <a href="https://presseforschung.de/literatur/gestaltung-fotojournalismus/3762-visuelle-zeitschriftengestaltung#more-3762" titel="Rezension von Andreas Vogel, erschienen in „Medien & Kommunikationswissenschaft“ 2017, 65(4), 794–795. DOI:
10.5771/1615-634X-2017-4-784">[Rezension]</a></li>
</ul>

<h3>Herausgeberschaften</h3>

<ul>
<li>Blasch, Lisa / Schröder, Thomas / Pfurtscheller, Daniel (2018) (Hg.): Schneller, bunter, leichter. Kommunikationsstile im medialen Wandel. Innsbruck: iup (= Innsbrucker Beiträge zur Kulturwissenschaft – Germanistische Reihe 88).</li>
<li>Ortner, Heike / Rizzolli, Michaela / Pfurtscheller, Daniel / Wiesinger, Andreas (2014): Datenflut und Informationskanäle. Innsbruck: iup.</li>
<li>Dander, Valentin / Gründhammer, Veronika / Ortner, Heike / Pfurtscheller, Daniel / Rizzolli, Michaela (2013): Medienräume. Materialität und Regionalität. Innsbruck: iup.</li>
</ul>
	
<h3>Aufsätze<h3>

<h4>In Druck</h4>

<ul>
<li>Pfurtscheller, Daniel (2020): More than recycled snippets of news. Quote cards as recontextualized discourse on social media. To appear in: AILA Review 33.2020 (Linguistic Recycling, Edited by Lauri Haapanen and Daniel Perrin).</li>
<li>Venema, Rebecca / Pfurtscheller, Daniel / Lobinger, Katharina (2020): Doing visual analysis online. Forschungsethische Herausforderungen und Handlungsempfehlungen zur Analyse vernetzter Bilder. Erscheint in: Brantner, Cornelia / Götzenbrucker, Gerit (Hg.): Vernetzte Bilder. Visuelle Kommunikation in Sozialen Medien. Berlin: von Halem.</li>
<li>Pfurtscheller, Daniel (2020): Alltägliche Medienkritik in der Social-Media-Interaktion auf Facebook. Zur Rekonstruktion medienkritischer Praktiken am Beispiel des Facebook-Accounts von Zeit im Bild (ZIB)
Erscheint in: Hans-Jürgen Bucher (Hg.): Medienkritik:
Zwischen ideologischer Instrumentalisierung und kritischer Aufklärung.
Grundlagen – Fallanalysen – Problemfelder. Berlin: von Halem.</li>
<li>Pfurtscheller, Daniel (2020): Der rote Rahmen. Beobachtungen zur Medienkultur des Nachrichtenmagazins entlang eines visuellen Musterhinweises (im Druck). Erscheint in: Jahrbuch für Internationale Germanistik 51.2.</li>
</ul>

<h4>2020</h4>
<ul>
	<li>
Pfurtscheller, Daniel (2020): Öffentlichen Sprachgebrauch auf Facebook untersuchen. Zugänge, Probleme, Erste Hilfe. In: Marx, Konstanze / Lobin, Henning / Schmidt, Axel (Hg.); Deutsch in Sozialen Medien. Interaktiv – multimodal – vielfältig. Berlin, Boston: De Gruyter. 355–358.</li>
</ul>


<h4>2019</h4>
<ul>

<li>Brantner, Cornelia / Lobinger, Katharina / Pfurtscheller, Daniel (2019): Politik im Spot(t)-Format: Humor im österreichischen Wahlkampf 2017. In: Schicha, Christian (Hg.): Wahlwerbespots 2017. Wiesbaden: VS, 509-588.</li>
	
<li>Pfurtscheller, Daniel (2019): Reizende Vorschau. Thumbnail-Bilder als Teil multimodaler Verweisbausteine und kontaktorientierter Medienlogik zwischen Teasing und Clickbaiting. In: Schwender, Clemens / Brantner, Cornelia / Graubner, Camilla / von Gottberg, Joachim (Hg.): zeigen – andeuten – verstecken: Bilder zwischen Verantwortung und Provokation. Berlin: von Halem, 121-142.</li>

<li>
Pfurtscheller, Daniel (2019): Über Nachrichten reden, „aber hart!“. Emotionalisierung, multimodale Inszenierung und kommunikative Aneignung von Nachrichtentexten in Videoblogs auf YouTube. In: Hauser, Stefan / Luginbühl, Martin / Susanne Tienken (Hg.): Mediale Emotionskulturen. Bern: Lang, 109-134.</li>

<li>Lobinger, Katharina / Reißmann, Wolfgang / Pfurtscheller, Daniel / Brantner, Cornelia / Venema, Rebecca /Marchiori, Eleonora (2019): Theoretische, thematische, forschungsethische und methodologische Herausforderungen der Visuellen Kommunikationsforschung. In: Lobinger, Katharina (Hg.): Handbuch Visuelle Kommunikationsforschung. Wiesbaden: Springer Fachmedien, 723–749.</li>

<li>Pfurtscheller, Daniel (2019): Bilder zwischen Zeichen, Handlungen und Praktiken. In: Lobinger, Katharina (Hg.): Handbuch Visuelle Kommunikationsforschung, 23–43. Wiesbaden: Springer.</li>
</ul>

<h4>2018</h4>
<ul>
<li>Pfurtscheller, Daniel (2018): Bilder zwischen Zeichen, Handlungen und Praktiken: Grundbegriffe einer handlungsorientierten visuellen Kommunikationsforschung. In: Lobinger, Katharina (Hg.): Handbuch Visuelle Kommunikationsforschung. Wiesbaden: Springer, 1-21.</li>
</li>
<li>Pfurtscheller, Daniel (2018): 40 Jahre „1, 2 oder 3“. Zum medialen Wandel eines Langzeitformats der nicht-fiktionalen Fernsehunterhaltung für Kinder. In: Blasch, Lisa / Pfurtscheller, Daniel / Schröder, Thomas (Hg.): Schneller, bunter, leichter? Kommunikationsstile im medialen Wandel. Innsbruck: innsbruck university press (IUP), 129–146.</li>
</ul>

<h4>2016</h4>
<ul>
<li>Pfurtscheller, Daniel (2016): Persuasives Handeln: objektbezogen, multimodal, massenmedial. Gebrauch der „Taferln“ in österreichischen TV-Wahldebatten. In: Grawunder, Sven / Tworek, Artur / Schwarze, Cordula (Hg.): Persuasives Handeln im Spannungsfeld von Rhetorik und Phonetik. Studia Linguistica 36/2016, 37-69. DOI: 0.19195/0137-1169.35.3</li>
<li>Pfurtscheller, Daniel (2016): Wenn Nachrichtenmagazine Ebola erklären und Viren visualisieren. Multimodale Wissensformate am Beispiel der Ebolaberichterstattung 2014. In: Jaki, Sylvia / Sabban, Annette (Hg.): Wissensformate in den Medien. Analysen aus Medienlinguistik und Medienwissenschaft. Frank & Timme: Berlin, 77-100.</li>
<li>Pfurtscheller, Daniel (2016): Verteiltes Zeigen: Formen und Funktionen serieller Bildverwendung am Beispiel von Foto-Reportagen in illustrierten Zeitschriften um 1900. In: Igl, Natalia / Menzel, Julia (Hg.): Illustrierte Zeitschriften um 1900. Mediale Eigenlogik, Multimodalität und Metaisierung. Bielefeld: transcript, 75–105. DOI: 10.14361/9783839436592-004.</li>
<li>Pfurtscheller, Daniel (2016): Scherzen mit Bild und Text. Medienbilder und Mediendesign in komischen Verwendungszusammenhängen. In: Amann, Klaus / Hackl, Wolfgang (Hg.): Satire – Ironie – Parodie. Aspekte des Komischen in der deutschen Sprache und Literatur, Innsbruck: IUP (= Innsbrucker Beiträge zur Kulturwissenschaft / Germanistische Reihe 85), 187-210.</li>
</ul>

<h4>2015</h4>
<ul>
<li>Pfurtscheller, Daniel (2015): Serielle Formen in Nachrichtenmagazinen. In: Müller, Stephan (Hg.): Serielle Formen. Wien: Praesens Verlag (= Stimulus – Mitteilungen der Österreichischen Gesellschaft für Germanistik), 86–104.</li>
</ul>

<h4>2014</h4>
<ul>
<li>Pfurtscheller, Daniel (2014): Funktionale Bausteine von multimodalen Texten: Nachrichtenmagazine als Kommunikationsangebote. In: Antos, Gerd / Jarosz, Józef / Opiłowski, Roman (Hg.): Sprache und Bild im massenmedialen Text. Formen, Funktionen und Perspektiven im deutschen und polnischen Kommunikationsraum. Dresden: Atut & Neisse Verlag (= Breslauer Studien zur Medienlinguistik 1), 257–271.</li>
<li>Pfurtscheller, Daniel (2014): Narrative Denk- und Textmuster in Werbeanzeigen. In: Hackl, Wolfgang / Kupczynska, Kalina / Wiesmüller, Wolfgang (Hg.): Sprache – Literatur – Erkenntnis. Wien: Praesens (= Stimulus. Mitteilungen der Österreichischen Gesellschaft für Germanistik), 431–444.</li>
</ul>

<h4>2013</h3>
<ul>
<li>Dorner, Christiane / Pfurtscheller, Daniel: Lokales Fernsehen in Tirol. In: Dander, Valentin / Gründhammer, Veronika / Ortner, Heike / Pfurtscheller, Daniel / Rizzolli, Michaela (Hg.): Medienräume. Materialität und Regionalität. Innsbruck: iup (= Edited Volume Series), 129–144.</li>
<li>Pfurtscheller, Daniel (2013): Das Magazincover. Eine multimodale Pressetextsorte im Vergleich. In: Estudios Filológicos Alemanes 26, 375–386.</li>
</ul>

<h3>Varia</h3>

<ul>
<li>Pfurtscheller, Daniel (2017): Public Service News on Facebook: Exploring Journalistic Usage Patterns and Reaction Data. In: Proceedings of the 5th Conference on CMC and Social Media Corpora for the Humanities (cmccorpora17). cmc-corpora Conference Series. DOI: 10.5281/zenodo.1041871.</li>

<li>Pfurtscheller, Daniel (2017): CLARIN UI Event. Using TEI for representing CMC/social media data.  {https://www.clarin.eu/news/clarin-ui-event-using-tei-representing-cmcsocial-media-data.</li>
	
<li>Pfurtscheller, Daniel (2015): Praxen politischer Online-Kommunikation: Demokratisierung durch das Medium Internet? Bericht über einen Vortrag von Georg Weidacher. In: Der Sprachdienst 2/2015, 93–95.</li>
</ul>
</div>

<div id="talks">
<h2 id="talks">Vorträge</h2>

<h3>Konferenzvorträge</h3>

<h4>2020</h4>

<ul>
<li>Daniel Pfurtscheller: Zack, zack, zack. Quoting and multimodal recontextualization in the case of the Austrian Ibiza affair. VALS-ASLA 2020, 12-14.02.2020</li>
<li>Daniel Pfurtscheller: „Swipe up!“ Formen und Funktionen der multimodalen Nachrichtenpräsentation in journalistischen Instagram-Stories. It’s all about video. Visuelle Kommunikation im Bann bewegter Bilder. Universität Basel, 22.11.2019
</li>
</ul>

<h4>2019</h4>

<ul>
<li>
Daniel Pfurtscheller: Nachrichtenfans, Memes und politische Partizipationskultur. Ausdrucksformen und Interaktionsmuster des politischen Fan-Seins. GAL Sektionentagung 2019, Sektion Medienkommunikation, Universität Halle, 19.09.2019
</li>
<li>
Daniel Pfurtscheller: GAT und GIFs? Zur Nützlichkeit animierter Bilder in multimodalen Transkripten
GAL Sektionentagung 2019, Sektion Phonetik und Sprechwissenschaft, Universität Halle, 20.09.2019
</li>
<li>
Cornelia Brantner, Daniel Pfurtscheller, Katharina Lobinger: “People only share videos they find entertaining or funny.” Right-wing populism, humor and the fictionalization of politics. A case study on the Austrian Freedom Party’s 2017 online election campaign videos.Annual Conference of the International Communication Association (ICA), May, 2019, Washington, DC.
</li>
<li>
Daniel Pfurtscheller: Zitatkacheln, Sharepics und Co. Visuelles Nachrichtendesign im „plattformisierten“ Onlinejournalismus. Von der Nachrichtenpräsentation zum Datenjournalismus: Kommunikationsdesign, Nachrichtendesign, Informationsdesign. Tagung des Instituts für Zeitungsforschung. Institut für Zeitungsforschung, 25.04.2019
</li>
<li>
Anne Diehr, Daniel Pfurtscheller: Anschlusskommunikation und Mediendiskurse. Überlegungen zum theoretischen und methodischen Umgang mit Nutzerkommentaren
Digitalität – Medialität – Diskursivität. Methoden der Mediendiskursanalyse. Tagung der DGPuK FG Mediensprache – Mediendiskurse, TU Darmstadt, 15.02.2019.
</li>
</ul>
<h4>2018</h4>
<ul>
<li>
Daniel Pfurtscheller, Cornelia Brantner und und Katharina Lobinger: Not just for laughs. Humor in the 2017 Austrian election campaign. ECREA 2018, Università della Svizzera italiana Lugano, 31.10-3.11.2018
</li>
<li> Visual sound bites. Image quotes and the visual expression of voice in online journalism on social media
The Visual Expression of Voice. ICA Young Scholars Preconference, Prag, 24.05.2018
</li>
<li>Daniel Pfurtscheller und Gerd Antos: Mediatized Crisis Communication and Public Service Media on Facebook. Global Mediatization Research and Technology. Universität Klagenfurt, 21.04.2018</li>
<li>Daniel Pfurtscheller: Zeitschriften als multimodale Wissensformate: Grundlagen und empirische Befunde zu Gestaltungsprinzipien in populären Wissenszeitschriften. Zeitschriften als Wissens- und Bildungsmedien, Justus-Liebig-Universität Gießen, 16.03.2018.</li>
<li>Daniel Pfurtscheller: Alltägliche Medienkritik in den Kommentaren zu öffentlich-rechtlichen Beiträgen auf Facebook. Medienkritik zwischen ideologischer Instrumentalisierung und kritischer Aufklärung. Tagung der DGPuK-Fachgruppe Mediensprache und Mediendiskurse. Universität Trier, 17.02.2018</li>
</ul>

<h4>2017</h4>

<ul><li>Daniel Pfurtscheller: Reizende Vorschau – Thumbnail-Bilder auf YouTube als Formen visueller Kommunikation zwischen Teaser und Clickbait. zeigen | andeuten | verstecken. Visuelle Kommunikation zwischen Ethik und Provokation. Tagung der DGPuK-Fachgruppe Visuelle Kommunikation, SRH Hochschule der populären Künste (hdpk), 07.12.2017</li>

<li>Daniel Pfurtscheller: Öffentlich-rechtliche Nachrichten auf Facebook. Textsorten und multimodales Beitragsdesign im Online-Diskurs. Online-Diskurse im interkulturellen Gefüge. Wissenstransfer, Öffentlichkeiten, Textsorten. Wrocław, 16.11.2017</li>

<li>Daniel Pfurtscheller: Visualizing Public Service News on Facebook. visualizing (in) the new media (VINM 2017). Neuchâtel, 09.11.2017</li>

<li>Daniel Pfurtscheller: How To Do Things with Multimodal Texts. A media linguistic approach to the multimodality of print news magazines. Multimodality – Towards a New Discipline. 3rd Bremen Conference on Multimodality. Bremen University, 21.09.2017</li>

<li>Daniel Pfurtscheller: HInteraktion in populären YouTube-Videos: Genres, multimodale Ressourcen und medienspezifische Gebrauchsformen. Interaktion und Medien. 20. Arbeitstagung zur Gesprächsforschung. IDS Mannheim, 29.03.2017</li>

<li>Daniel Pfurtscheller: Was ist eigentlich eine Briefkastenfirma? Sprachliche Vermittlung, multimodale Präsentation und mediale Konstituierung von Wissen am Fall der Panama Papers. Sprache, Wissen, Medien. Jahrestagung der DGPuK-Fachgruppe Mediensprache – Mediendiskurs, Karlsruher Institut für Technologie, 17.02.2017</li></ul>


<h4>2016</h4>

<ul><li>Daniel Pfurtscheller: Emotionskultur als Jugendkultur? Emotionen als kommunikative Ressourcen in populären YouTube-Videos. GAL Kongress 2016, Universität Koblenz, 30.09.2016</li>

<li>Daniel Pfurtscheller: Was heißt „multimodal“? Auseinandersetzung mit einer zentralen Beschreibungskategorie der Visuellen Kommunikationsforschung. Theorien der Visuellen Kommunikationsforschung. Tagung der DGPuK-Fachgruppe Visuelle Kommunikation. Universität Erfurt, 21.11.2015</li></ul>

<h4>2015</h4>
<ul>
<li>Daniel Pfurtscheller: »The cake is a lie«. Eine funktionale Charakteristik der Kommunikationsform Graffiti am Beispiel des Computerspiels „Portal”. Graffiti. Deutschsprachige Aufund Inschriften in sprachund literaturwissenschaftlicher Perspektive. Jahrestagung der Österreichischen Gesellschaft für Germanistik Paderborn, 07.11.2015</li>

<li>Daniel Pfurtscheller: Multimodale Wissensformate in populären Zeitschriften. Wissensformate in den Medien – interdisziplinäre Zugänge. Universität Hildesheim, 16.10.2015</li>

<li>Daniel Pfurtscheller: „Taferln“ als rhetorische Objekte. Persuasives Handeln in den Fernsehkonfrontationen zur österreichischen Nationalratswahl 2013. 3. Sektionentagung der Gesellschaft für Angewandte Linguistik e.V. an der EuropaUniversität Viadrina Frankfurt (Oder), 24.09.2015</li>

<li>Daniel Pfurtscheller und Andreas Wiesinger: Gender zwischen Inszenierung und Interaktivität – Conchita Wurst im Social Web. Medien. Sprache. Geschlecht. Gemeinsame Tagung der DGPuK-Fachgruppen Medien, Öffentlichkeit und Geschlecht und Mediensprache – Mediendiskurse. Universität Eichstätt, 20.02.2015</li>
</ul>
<h4>2014</h4>
<ul>
<li>Daniel Pfurtscheller: Verteiltes Zeigen. Formen und Funktionen serieller Bildverwendung am Beispiel von Foto-Reportagen in illustrierten Zeitschriften um 1900</li>
<li>Illustrierte Zeitschriften um 1900. Multimodalität und Metaisierung. Universität Bayreuth, 28.03.2014</li>

<li>Daniel Pfurtscheller: Spotten mit Bild und Text. Satirische Verwendungszusammenhänge von Medienbildern in Nachrichtenmagazinen. Satire, Ironie und Parodie in der deutschen Sprache und Literatur. Gespräche über Kategorien des Komischen. Universität Innsbruck, 21.03.2014</li>

<li>Daniel Pfurtscheller: Das Tier im Nachrichtenbild – Visuelles Framing von Tieren in Nachrichtenmagazinen. Human-Animal Studies Konferenz. Universität Innsbruck, 06.02.2014</li>
</ul>

<h4>2013</h4>

<ul>
<li>Daniel Pfurtscheller: Funktionale Bausteine von multimodalen Texten – Nachrichtenmagazine als Kommunikationsangebote. Sprache und Bild im massenmedialen Text. Formen und Funktionen im deutschen und im polnischen Kommunikationsraum. Universität Wrocław, 21.09.2013</li>

<li>Daniel Pfurtscheller: Serielle Formen in Nachrichtenmagazinen. Tagung der Österreichischen Gesellschaft für Germanistik 2013. Universität Wien, 31.05.2013</li>

<li>Daniel Pfurtscheller: Bilder in Onlinediskursen. Die Entgrenzung der Mediendiskurse im Internet: Herausforderung für Theoriebildung, Methoden und Erschließung. Tagung der DGPuK-Fachgruppe Mediensprache/ Mediendiskurse. Universität Trier, 23.02.2013</li>

</ul>

<h4>2012</h4>

<ul>
<li>Daniel Pfurtscheller: Das Magazincover – eine multimodale Pressetextsorte im Vergleich. VIII. Internationaler Germanisten-Kongress der Philologischen Fakultät der Universität Sevilla, 19.12.2012</li>

<li>Daniel Pfurtscheller Narrative Denk- und Textmuster in Werbeanzeigen. Sprache – Literatur – Erkenntnis. Jahrestagung der Österreichischen Gesellschaft für Germanistik 2012. Universität Wien, 07.06.2012</li>

<li>Daniel Pfurtscheller: Erinnerungskulturen des Videospiels. Bilder, Darstellungsmuster und (sub)kulturelle Identität. Graduiertenkolloquium der Forschungsplattform Politik – Religion – Kunst, BrennerArchiv/Literaturhaus am Inn, Universität Innsbruck, 01.06.2012</li>

<li>Daniel Pfurtscheller: „Erzählende Bilder?”: Eine theoretische Rekonzeption visueller Narrativität. Narration und Argumentation. Gemeinsame Tagung der DGPuK-Fachgruppe Mediensprache/Mediendiskurse und der SGKM-Fachgruppe Medienlinguistik, ZHAW Winterthur, 17.02.2012</li>
</ul>

<h3>Posterpräsentationen</h3>

<ul><li>Daniel Pfurtscheller: Public Service News on Facebook: Exploring Journalistic Usage Patterns and Reaction Data. 5th Conference on CMC and Social Media Corpora for the Humanities (CMC-Corpora 2017), Bozen, 03.10.2017</li>

<li>Daniel Pfurtscheller: Formen und Funktionen des medialen Zitierens auf Facebook. Eine explorative Pilotstudie zur emotionalen Redewiedergabe auf der Facebook-Seite der „Zeit im Bild“. 4. Sektionentagung der Gesellschaft für Angewandte Linguistik (GAL), Basel, 07.09.2017.</li>

<li>Daniel Pfurtscheller: Ein Taferl übers ,Taferl‘. Österreichische Politiker und ihre kommunikativen Hilfsmittel in Fernsehkonfrontationen.Jahrestagung der Fachgruppe „Mediensprache – Mediendiskurse“ der DGPuK. Universität Koblenz-Landau, 22.02.2014</li></ul>
</div>

<h2 id="contact">Kontakt</h2>

<h3>Sag Hallo<h3>
	
<div class="contact">
<form
  action="https://formspree.io/xgevoegj"
  method="POST"
>
  <label for="email" >
    E-Mail Adresse:
    <input id="email" type="text" name="_replyto" placeholder="name@example.com">
  </label>
  <label for="message">
    Nachricht:
    <textarea id="message" name="message" style="height:200px" placeholder="Sag Hallo…"></textarea>
  </label>
  <button type="submit">Abschicken</button>
</form>


</main>